.container--center {
  width: 79.069vw;
  min-height: 32px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container--center {
    width: 85vw;
  }
}

.display {
  display: none !important;
}

.btn--primary {
  border-radius: 10px;
  padding: 8px 20px 8px 20px;
  gap: 10px;
  display: block;
  text-decoration: none;
  background-color: #ff6700;
  transition: all ease-in-out 0.3s;
}
@media (min-width: 768px) {
  .btn--primary {
    padding: 10px 30px 10px 30px;
  }
}
@media (min-width: 1300px) {
  .btn--primary {
    padding: 20px 40px 20px 40px;
  }
  .btn--primary .burger--container {
    display: none;
  }
}

.btn--primary:hover {
  background-color: #c85100;
}

.container--main {
  position: relative;
}
.container--main .header {
  width: 85vw;
  min-height: 32px;
  margin-top: 8px;
  position: absolute;
  left: 7.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container--main .header .logo {
  font-family: Kalnia;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  line-height: 32.28px;
}
@media (min-width: 768px) {
  .container--main .header .logo {
    font-size: 28px;
  }
}
.container--main .header .burger--container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 3px;
}
.container--main .header .burger--container > div {
  width: 24px;
  border: 1.5px solid white;
}
.container--main .header .nav__main--mobile {
  padding: 20px 46px 20px 28px;
  background-color: #ffffff;
  border-radius: 8px;
  color: #424244;
  width: 184px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}
.container--main .header .nav__main--mobile > ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.container--main .header .nav__main--mobile > ul :nth-child(2) {
  position: relative;
  margin-bottom: 12px;
}
.container--main .header .nav__main--mobile > ul :nth-child(2) ::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 30px;
  border: solid black 1px;
}
.container--main .header .nav__main--mobile > ul > li > a {
  color: #424244;
  transition: all ease-in-out 0.3s;
}
.container--main .header .nav__main--mobile > ul > li > a:hover {
  color: #c85100;
}
.container--main .header .nav__main--mobile .nav__mobile__close--btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
}
.container--main .header .nav__main--mobile .nav__mobile__close--btn > img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.3s;
}
.container--main .header .nav__main--mobile .nav__mobile__close--btn > img:hover {
  transform: scale(1.6);
}
.container--main .header .nav__main--dsc {
  display: none;
}
.container--main .header .nav__main--dsc .nav__desktop--ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 28px;
  line-height: 32.81px;
  letter-spacing: 5%;
}
.container--main .header .nav__main--dsc .nav__desktop--ul > li > a {
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}
.container--main .header .nav__main--dsc .nav__desktop--ul > li > a:hover {
  color: #c85100;
}
.container--main .header .nav__main--dsc .nav__desktop--ul > li .container__signup--img {
  cursor: pointer;
}
.container--main .header .nav__main--dsc .nav__desktop--ul > li .nav__desctop--signup {
  position: absolute;
  bottom: -190px;
  right: 85px;
  background-color: white;
  width: 247px;
  height: 164px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 10px;
}
.container--main .header .nav__main--dsc .nav__desktop--ul > li .nav__desctop--signup > li > a {
  display: block;
  position: relative;
  transition: all ease-in-out 0.3s;
}
.container--main .header .nav__main--dsc .nav__desktop--ul > li .nav__desctop--signup > li > a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 30px;
  border: solid #ff6700 1px;
}
.container--main .header .nav__main--dsc .nav__desktop--ul > li .nav__desctop--signup > li > a:hover {
  color: #c85100;
}
@media (min-width: 768px) {
  .container--main .header {
    padding: 10px 30px 10px 30px;
  }
}
@media (min-width: 1300px) {
  .container--main .header .burger--container {
    display: none;
  }
  .container--main .header .nav__main--dsc {
    display: block;
  }
}
.container--main .sec--1 {
  width: 100vw;
  height: 217px;
  max-width: 100%;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  background-image: url(../assets/img/img-mobile/sec-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.container--main .sec--1 .container__sec--1 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  color: #ffffff;
  text-align: center;
}
.container--main .sec--1 .container__sec--1 .sec__1--p {
  color: #ffffff;
}
.container--main .sec--1 .container__sec--1 .sec__1--title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28.13px;
  letter-spacing: 10%;
  color: #ffffff;
}
.container--main .sec--1 .container__sec--1 .sec__1--btn {
  width: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .container--main .sec--1 {
    height: 358.78px;
    padding-top: 132px;
  }
  .container--main .sec--1 .container__sec--1 {
    font-size: 24px;
  }
  .container--main .sec--1 .container__sec--1 .sec__1--title {
    font-size: 30px;
    margin-top: 6px;
  }
  .container--main .sec--1 .container__sec--1 .sec__1--btn {
    width: auto;
    margin-top: 12px;
  }
}
@media (min-width: 1300px) {
  .container--main .sec--1 {
    padding-top: 348px;
    height: 885px;
  }
}
.container--main .sec__2--title-g {
  font-weight: 500;
  color: #424244;
  opacity: 100%;
  font-size: 22px;
  line-height: 25.78px;
  margin-bottom: 8px;
}
.container--main .sec--2 {
  margin-top: 33px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: #252525;
  opacity: 80%;
}
.container--main .sec--2 .sec__2__container--text .sec__2--p {
  margin-top: 20px;
  margin-bottom: 12px;
}
.container--main .sec--2 .sec__2__container--cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.container--main .sec--2 .sec__2__container--cards .sec__2__container--card .sec__2__card__container--img {
  margin-bottom: 8px;
}
.container--main .sec--2 .sec__2__container--cards .sec__2__container--card .sec__2__card__container--img > img {
  max-width: 100%;
  width: 100%;
  min-height: 221px;
  height: 100%;
}
.container--main .sec--2 .sec__2--link {
  font-family: Roboto;
  font-weight: 500;
  display: block;
  font-size: 20px;
  line-height: 23.44px;
  margin-top: 24px;
  color: #c85100;
  text-decoration: none;
}
.container--main .sec--2 .sec__2--link2 {
  display: none;
}
@media (min-width: 768px) {
  .container--main .sec--2 {
    font-size: 20px;
  }
  .container--main .sec--2 .sec__2__container--text .sec__2--title {
    font-size: 32px;
  }
  .container--main .sec--2 .sec__2__container--cards {
    grid-template-columns: 1fr 1fr;
  }
  .container--main .sec--2 .sec__2__container--cards .sec__2__container--card .sec__2__card__container--img > img {
    min-height: 248px;
  }
  .container--main .sec--2 .sec__2__container--cards .sec__2__container--card .sec__2__title--1 {
    font-size: 28px;
  }
  .container--main .sec--2 .sec__2__container--cards .sec__2__container--card .sec__2__card--p {
    font-size: 16px;
  }
  .container--main .sec--2 .sec__2--link2 {
    display: block;
    text-align: end;
    margin-bottom: 10px;
  }
  .container--main .sec--2 .sec__2--link1 {
    display: none;
  }
}
@media (min-width: 1300px) {
  .container--main .sec--2 .sec__2__container--cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.container--main .sec--3 {
  margin-top: 24px;
}
.container--main .sec--3 .sec__3--title {
  margin-bottom: 12px;
}
.container--main .sec--3 .sec__3__container--iframe .sec__3--iframe {
  max-width: 100%;
  border-radius: 40px;
  width: 100%;
  min-height: 183px;
}
@media (min-width: 768px) {
  .container--main .sec--3 .sec__3--title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .container--main .sec--3 .sec__3__container--iframe .sec__3--iframe {
    min-height: 320px;
  }
}
@media (min-width: 1300px) {
  .container--main .sec--3 .sec__3__container--iframe .sec__3--iframe {
    min-height: 750px;
  }
}
.container--main .sec--4 {
  margin-top: 24px;
}
.container--main .sec--4 .sec__4--title {
  margin-bottom: 12px;
}
.container--main .sec--4 .sec__4__container--cards {
  display: flex;
  overflow: hidden;
}
.container--main .sec--4 .sec__4__container--cards .sec__4__container--card .sec__4__card__container--img {
  width: 100%;
  border-radius: 10px;
  min-height: 425.53px;
}
.container--main .sec--4 .sec__4__container--cards .sec__4__container--card .sec__4__card__container--img > img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .container--main .sec--4 .sec__4--title {
    margin-bottom: 20px;
    font-size: 40px;
  }
  .container--main .sec--4 .sec__4__container--cards {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1300px) {
  .container--main .sec--4 .sec__4__container--cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.container--main .sec--5 {
  margin-top: 24px;
}
.container--main .sec--5 .sec__5--title {
  margin-bottom: 12px;
}
.container--main .sec--5 .sec__5__container--cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}
.container--main .sec--5 .sec__5__container--cards .sec__5__container--card .sec__5__card__container--img {
  width: 100%;
  border-radius: 15px;
  min-height: 226.21px;
}
.container--main .sec--5 .sec__5__container--cards .sec__5__container--card .sec__5__card__container--img > img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.container--main .sec--5 .sec__5__container--cards .sec__5__container--card .sec__5__card__container--text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.44px;
  color: #424244;
}
.container--main .sec--5 .sec__5__container--cards .sec__5__container--card .sec__5__card__container--text .sec__5__card--title {
  margin-top: 8px;
}
@media (min-width: 768px) {
  .container--main .sec--5 .sec__5--title {
    margin-bottom: 20px;
    font-size: 40px;
  }
  .container--main .sec--5 .sec__5__container--cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1300px) {
  .container--main .sec--5 .sec__5__container--cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.container--main .sec--6 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.78px;
  margin-top: 24px;
  padding-bottom: 16px;
}
.container--main .sec--6 .sec__6--title {
  margin-bottom: 12px;
}
.container--main .sec--6 .sec__6--wrapper {
  background-color: #e0e0e0;
}
.container--main .sec--6 .sec__6--wrapper .sec__6__container--content {
  padding-top: 12px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}
.container--main .sec--6 .sec__6--wrapper .sec__6__container--content .sec__6__btn--submit {
  padding: 8px 20px 8px 20px;
  border-radius: 8px;
  color: white;
  margin-top: 12px;
  background-color: #ff6700;
  transition: all ease-in-out 0.33s;
}
.container--main .sec--6 .sec__6--wrapper .sec__6__container--content .sec__6__btn--submit:hover {
  background-color: #c85100;
}
.container--main .sec--6 .sec__6--wrapper .sec__6__container--content .sec__6__btn--submit .sec__6--form {
  width: 100% !important;
  margin: 0 !important;
}
@media (min-width: 768px) {
  .container--main .sec--6 .sec__6--title {
    font-size: 40px;
  }
  .container--main .sec--6 .sec__6--wrapper {
    margin-top: 30px;
  }
  .container--main .sec--6 .sec__6--wrapper .sec__6__container--content .sec__6--form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .container--main .sec--6 .sec__6--wrapper .sec__6__container--content .sec__6--form .sec__6__btn--submit {
    padding: 15px 50px 30px 15px;
    height: 56px;
    border-radius: 12px;
    grid-column: 1/span 2;
  }
}
@media (min-width: 1300px) {
  .container--main .sec--6 {
    background-color: #e0e0e0;
    padding-top: 50px;
  }
}

#subEmail {
  position: absolute;
  left: 245px;
  top: 27%;
}

/*# sourceMappingURL=landing.css.map */
